streamlit==1.36.0

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52

chromadb==0.4.22
sentence-transformers==2.2.2

huggingface-hub==0.20.3
transformers==4.39.3
accelerate==0.28.0
torch==2.1.2

pydantic==1.10.13
protobuf==4.25.1

# disable langsmith to avoid errors
langsmith==0.1.5

# sometimes needed
tiktoken
typing-extensions
