streamlit
langchain
langchain-community
langchain-huggingface
transformers
sentence-transformers
chromadb
torch
accelerate
pydantic==1.10.13
typing-inspect
typing-extensions
huggingface_hub
